<div class="wrapper">

	<!-- Intro section start -->
	
	<section id="introAbout" class="section">
		<div class='howitworks'>
			<div class='landing about'>
				<div class='AboutHeader'><!--<%= t "heading.about" %>--></div>
			</div>
		</div>
	</section>

	<!-- Intro section end -->

	<section class="aboutus"><!-- starts #about us-->

		<div class="row"><!-- starts row-->
						
			<div class="col-md-12 aboutus text-center">
				<h2><%= t "aboutus.header" %></h2>
				<div class="line-section mt-20 mb-30"></div>
			</div>

			<div class="col-lg-1"></div>	
			<div class="col-lg-10">
				<p><%= t "aboutus.description_one" %>
					<br/><br/>
					<%= t "aboutus.description_two" %>
				</p>
			</div>
			<div class="col-lg-1"></div>

			<div class="bounce"><i class="fa fa-chevron-circle-down" style="margin-top:35px;"></i></div>	
				
		</div><!-- end row-->

	</section><!-- end .section #aboutus -->


	<!-- team section start -->
	<section id="team" class="section">
		
		<div class="container">
			
			<div class="row">
				
					<div class="col-md-12">
						<h2><%= t "team.header" %></h2>
						<div class="line-section mt-20 mb-30"></div>
					</div>

						<div class="col-md-12 teamline">
							<div class="col-md-6">
								
								<div class="col-md-5">
									<%= image_tag "gustavocartoon.jpg" %>
								</div>
								
								<h3>
									<a href="https://pt.linkedin.com/in/gustavo-martins-7895a251/pt" target="_blank">
									Gustavo Martins
									</a>
								</h3>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								
								<h4><%= t "team.gustavofunction" %></h4>
									<%= t "team.gustavo" %>
								<br/>
							
							</div>

							<div class="col-md-6 team-member">
								<div class="col-md-5">
									<%= image_tag "joaocartoon.jpg" %>
								</div>
								
								<h3>
									<a href="https://pt.linkedin.com/in/joao-costa-graca-42207171/pt" target="_blank">João Graça
									</a>
								</h3>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>

								<h4><%= t "team.joaofunction" %></h4>
									<%= t "team.joao" %>
							</div>

						<div class="col-md-12 teamline">
							
							<div class="col-md-6">
								
								<div class="col-md-5">
									<%= image_tag "giuliacartoon.jpg" %>
								</div>
								
								<h3>
									<a href="https://pt.linkedin.com/in/giulia-pizzignacco-54a92259" target="_blank">
									Giulia Pizzignacco
									</a>
								</h3>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>

								<h4><%= t "team.giuliafunction" %></h4>
									<%= t "team.giulia" %>
							
							</div>

							<div class="col-md-6">
								
								<div class="col-md-5">
									<%= image_tag "pedrocartoon.jpg" %>
								</div>
								
								<h3>
									<a href="https://pt.linkedin.com/in/pedrosamuel" target="_blank">
									Pedro Samuel
									</a>
								</h3>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>

								<h4><%= t "team.pedrofunction" %></h4>
									<%= t "team.pedro" %>
							</div>
						
						</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section><!-- team section end -->

</div>
<!-- .wrapper -->

