<div class="wrapper">

	<!-- Intro section start -->
	
	<section id="introHIW" class="section">
		<div class='howitworks'>
			<div class='landing hire'>
				<div class='BeadvisorHeader'></div>
			</div>
		</div>
	</section>

            
    <section id=our-process class="section our-process">
		<header class=section-heading>
	       <h2 class="text-center"><%= t "hire.header" %></h2>
		</header>
		<div class="line-section mt-30 mb-30"></div>
	</section>

		<!-- Intro section end -->
		<section id="services" class="section text-center">

		<!-- Services section start -->

		<section class="mg-top60">
			
			<div class="container">

				<div class="row">

					<div class="col-md-12">

						<div class="row mg-top60">

							<div class="col-lg-12">
								<h3 class="pd-bt20 blue"><b>1.</b> <%= t "hire.content.one" %></h3>
								<%= image_tag "search_page.jpg", class: "shadow" %>
							</div>
							
						</div>

						<div class="row mg-top60">

							<div class="col-lg-12">
								<h3 class="pd-bt20 blue"><b>2.</b> <%= t "hire.content.two" %></h3>
								<%= image_tag "students_page.jpg", class: "shadow" %>
							</div>
							
						</div>


						<div class="row mg-top60">

							<div class="col-lg-12">
								<h3 class="pd-bt20 blue"><b>3.</b> <%= t "hire.content.three" %></h3>
								<%= image_tag "profile_page.jpg", class: "shadow" %>
							</div>
							
						</div>


						<div class="row mg-top60">

							<div class="col-lg-12">
								<h3 class="pd-bt20 blue"><b>4.</b> <%= t "hire.content.four" %></h3>
								<%= image_tag "call_page.jpg", class: "shadow" %>
							</div>
							
						</div>


					</div>	

				</div>

			</div>

		</section>

	</section>

	<!-- Services section end -->

</div>
<!-- .wrapper -->
