<!-- new footer -->

<section id=footer-widgets class="section footer-widgets dark-bg">

	<div class=container>
		
		<div class=row>

			<div class="col-md-4 col-sm-4">

				<h4 class="HIW-title"><%= t "service.head" %></h4>
					<p><%= t "service.subhead" %></p>

			</div>

				<div class="col-md-4 col-sm-4">
					<div class="content-wrap widget-contact"><h4><%= t "contact.head" %></h4>
						<p><i class="fa fa-phone footer-icon-18"></i> (+ 351) 910 271 386</p>
						<p><i class="fa fa-envelope footer-icon-15"></i> contact@connective.com.pt</p>
						<p><i class="fa fa-map-marker footer-icon-20"></i> Rua da Prata, 80</p>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="content-wrap widget-recent-posts">
                        <h4><%= t "contact.otherwise.question" %></h4>
                        <p><%= t "contact.otherwise.subhead" %></p>
                        <a href="#AdvisorModal" data-toggle="modal" class="btn btn-lg btn-rj"> <%= t "contact.otherwise.apply" %>
                        </a>
					</div>
				</div>
		</div>
	</div>

</section>


<footer id="footer" class="footer text-center">
	
	<div class="container">

		<div class="row">

				<div class="col-lg-4 col-sm-12">
					<p class="copyright text-xs-center">&copy; 2016 Connective to the World, Lda.</p>
				</div>

				<div class="col-lg-4 col-sm-12">
					<ul class=footer-social-block>
						<a href="https://www.facebook.com/connectivelife/" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="https://www.linkedin.com/company/connective---the-hospitality-advice-network" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a href="https://www.youtube.com/channel/UCLQ4am6RRg7SjLYZvUf30eQ" target="_blank"><i class="fa fa-youtube-play"></i></a>
						<a href=#></a>
					</ul>
				</div>

				<div class="col-lg-4 col-sm-12">
					<div class="footer-menu text-xs-center"><a href=#>Privacy Policy</a> | <a>Terms &amp; Conditions</a>
					</div>
				</div>
		</div>
	
	</div>

</footer>